[tool.poetry]
name = "asgi-ratelimit"
version = "0.1.0"
description = ""
authors = ["abersheeran <me@abersheeran.com>"]
readme = "README.md"
license = "Apache-2.0"

homepage = "https://github.com/abersheeran/asgi-ratelimit"
repository = "https://github.com/abersheeran/asgi-ratelimit"

classifiers=[
    "Programming Language :: Python :: 3",
]

packages = [
    { include = "ratelimit" },
]

[tool.poetry.dependencies]
python = "^3.6"
dataclasses = {version = "^0.6", python = "~3.6"}
typing_extensions = {version = "^3.7.4", python = "< 3.8"}
aredis = {version = "^1.1.8", optional = true}

[tool.poetry.extras]
redis = ["aredis",]

[tool.poetry.dev-dependencies]
flake8 = "^3.8.1"
mypy = "^0.770"
black = "^19.10b0"
pytest = "^5.4.2"
pytest-cov = "^2.8.1"
pytest-asyncio = "^0.12.0"
httpx = {version = "^0.13.0-alpha.2", allow-prereleases = true}

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
